@tailwind base;
@tailwind components;
@tailwind utilities;
.tiptap.ProseMirror {
    outline: none;
  }
  .is-active {
    background: black;
    color: #fff;
  }
  p:empty::before {
    content: "";
    display: inline-block;
  }
  