@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;

}
@layer base {
  .input_style {
    @apply ring-0 ring-offset-0 focus:!ring-0 focus:!ring-offset-0;
  }
}

.tiptap.ProseMirror {
    outline: none;
    max-height: 300px;
    padding-bottom: 12px;
  }
  .tiptap.ProseMirror p:first-child {
    margin: 0.2rem;
  }
 
  .is-active {
    background: rgb(34, 179, 205);
    color: #fff;
  }
  p:empty::before {
    content: "";
    display: inline-block;
  }
